:root{
    --color_primario: #8527c3fc;
    --color_primario_suave: #8527c383;
    --color_blanco: #fff;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-family: Tahoma;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
}

.navbar {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right);
}
.label_menu {
}
.label_menu:hover + .ul_links{
    height: calc(30vh - var(--altura_header));
    visibility: visible;
    opacity: 1;
}
.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}
.ul_links{
    width: 20%;
    background-color: var(--color_primario_suave);
    position: absolute;
    top: var(--altura_header);
    height: 0;
    height: calc(40vh - var(--altura_header));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   
    transition: 60s;
    visibility: hidden;
}
.li_links {
}
.link {
    font-size: 1.5rem;
    color: var(--color_blanco);
}


